body {
  margin: 0;
  background: #1a2f2a;
  padding: 0 2px 2px 2px;
  font-family: "roboto";
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
div {
  text-align: center;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 1em 0 0.75em;
  font-size: 2.75em;
}
h2 {
  text-align: center;
  margin: 0;
  padding: 1em 0 0.75em;
  font-size: 1.75em;
}
ul {
  margin: -3px;
  padding: 0;
  list-style: none;
}
li {
  float: left;
  margin: 3px;
  list-style-type: none;
}
img {
  display: block;
  width: 92px;
  height: 128px;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 0;
  margin-right: 20px;
}

td, th {
  border: 1px solid #999;
  padding: 0.1rem;
  min-width: 60px;
  text-align: center;
}

td {
  font-size: 1.1em;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #1a2f2a;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.25em;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
}

.round-count {
  min-width: 20px;
  font-weight: 700;
}

/* custom fonts */
@font-face {
  font-family: "magic";
  src: url("../fonts/MAGIC.TTF") format("truetype");
}

@font-face {
  font-family: "nevis";
  src: url("../fonts/nevis.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto-regular.ttf" format("truetype"));
}